.header-container {
  /* Макет */
  position: relative;
  width: 1600px;
  height: 8597px;
  /* Білий (фон) */
  background: #fff;
}
.header-1qism {
  /* Перший екран */
  position: absolute;
  width: 1600px;
  height: 760px;
  left: 0;
  right: 0;
  top: 20px;
  bottom: 7817px;
  background-color: rgb(208, 236, 236);
}
.header-link {
  /* Шапка */
  position: absolute;
  width: 1200px;
  height: 53px;
  left: 200px;
  right: 200px;
  top: 20px;
  bottom: 687px;
}
.header-img {
  position: relative;
  width: 122px;
  height: 53px;
}
.imglogo1 {
  /* Напрямки */
  position: absolute;
  width: 78px;
  height: 16px;
  left: 365px;
  right: 657px;
  top: 19px;
  bottom: -2px;
  color: rgb(40, 43, 34);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.imglogo2 {
  /* Про компанію */
  position: absolute;
  width: 108px;
  height: 16px;
  left: 483px;
  right: 509px;
  top: 19px;
  bottom: -2px;
  /* Пункти меню_16 px (medium) */
  color: rgb(40, 43, 34);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.imglogo3 {
  /* Переваги */
  position: absolute;
  width: 75px;
  height: 16px;
  left: 631px;
  right: 394px;
  top: 19px;
  bottom: -2px;
  /* Пункти меню_16 px (medium) */
  color: rgb(40, 43, 34);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.imglogo4 {
  /* Етапи роботи */
  position: absolute;
  width: 106px;
  height: 16px;
  left: 746px;
  right: 248px;
  top: 19px;
  bottom: -2px;
  /* Пункти меню_16 px (medium) */
  color: rgb(40, 43, 34);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.svg1 {
  /* Ми в соцмережах: */
  position: absolute;
  width: 49px;
  height: 24px;
  left: 1098px;
  right: 53px;
  top: 35px;
  bottom: -6px;
}
.svg2 {
  /* Vector */
  position: absolute;
  width: 18.01px;
  height: 18.04px;
  left: 12.5%;
  right: 12.46%;
  top: 12.42%;
  bottom: 12.42%;
}
.svg3 {
  /* Vector */
  position: absolute;
  width: 18.01px;
  height: 18.04px;
  left: 52.5%;
  right: 12.46%;
  top: 12.42%;
  bottom: 12.42%;
}
.header-contakt {
  /* +380 67661 5415 */
  position: absolute;
  width: 190px;
  height: 22px;
  left: 1210px;
  right: -200px;
  top: 36px;
  bottom: -5px;
}
.kontakt {
  /* phone (1) 1 */
  position: relative;
  width: 22px;
  height: 22px;
}
.kontakt2 {
  /* +380 67661 5415 */
  position: absolute;
  width: 161px;
  height: 20px;
  left: 19px;
  right: -1210px;
  top: 1px;
  bottom: -35px;
  /* Text_20px (semibold) */
  color: rgb(61, 74, 57);
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.tv {
  /* tv-cabinet-modern-living-room-with-armchair-plant-dark-marble-wall-3d-rendering 1 */
  position: absolute;
  width: 1600px;
  height: 687px;
  left: 0;
  right: 0;
  top: 93px;
  bottom: -93px;
}
.text1 {
  /* виробництвомеблів */
  position: absolute;
  width: 446px;
  height: 134px;
  left: 577px;
  right: 577px;
  top: 213px;
  bottom: 340px;
  /* Заголовок_H1 */
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.text2 {
  position: absolute;
  width: 537px;
  height: 81px;
  left: 531px;
  right: 532px;
  top: 397px;
  bottom: 239px;
  opacity: 0.8;
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.btn {
  /* Кнопка */
  position: relative;
  width: 260px;
  height: 60px;
  left: 600px;
  top: 560px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 22px 56px 22px 56px;
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.05);
  background: rgb(174, 123, 60);
}
.btn-text {
  /* Обговорити проект */
  position: static;
  width: 155px;
  height: 16px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* padding: 22px 55px 22px 55px; */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  /* text_botton */
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.rectangle {
  /* Line 15 */
  position: absolute;
  width: 1200px;
  height: 0;
  left: 200px;
  top: 677.5px;
  /* Білий */
  border: 1px solid rgb(255, 255, 255);
  opacity: 0.4;
}
.str {
  /* Слайдер */
  position: absolute;
  width: 1200px;
  height: 57px;
  left: 200px;
  right: 200px;
  top: 698px;
  bottom: -48px;
}
.str1{
   Arrow 4
  position: absolute;
  width: 40px;
  height: 30px;
box-sizing: border-box;
border: 2px solid rgb(255, 255, 255);
}
.str2{
    Arrow 3 */
 position: absolute;
width: 40px;
height: 30px;
left: 2450px;
top: 79px;
gap: 100px;
box-sizing: border-box;
/* Білий */
border: 2px solid rgb(255, 255, 255);
}
.qism{
  /* Основні напрямки */
position: absolute;
width: 1200px;
height: 596px;
left: 200px;
right: 200px;
top: 920px;
bottom: 7081px;
background-color:  #fff;
}
.h2text{
  /* Основні напрямки */
position: absolute;
width: 488px;
height: 58px;
left: 356px;
right: 156px;
top: 0px;
bottom: -382px;
/* заголовок_H2 */
color: rgb(40, 43, 34);
font-family: Raleway;
font-size: 46px;
font-weight: 600;
line-height: 125%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}
.qism2{
/* 01 */
position: absolute;
width: 384px;
height: 458px;
left: 200px;
right: 616px;
top: 1058px;
bottom: -920px;
}
.o1{
 /* 01 */
position: absolute;
width: 27px;
height: 24px;
left: -120px;
right: 127px;
top: -808px;
bottom: -624px;
/* Чорний */
opacity: 0.5;
/* Заголовок_H5 */
color: rgb(40, 43, 34);
font-family: Raleway;
font-size: 24px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
 

}
.rc{
position: absolute;
width: 458px;
height: 1px;
left: -200.5px;
top: 458px;
transform: rotate(90.00deg);
/* Чорний */
border: 1px solid rgb(40, 43, 34);
opacity: 0.2; 

}
.qism3{
  /* Дизайн інтерєру */
position: absolute;
width: 196px;
height: 24px;
left: -130px;
right: -42px;
top: -742px;
bottom: -708px;
/* Заголовок_H5 */
color: rgb(61, 74, 57);
font-family: Raleway;
font-size: 24px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.uy{
  /* Rectangle 3 */
position: absolute;
width: 354px;
height: 320px;
left: -130px;
right: -200px;
top: -696px;
bottom: -1058px;
}
.rs{
  position: absolute;
width: 458px;
height: 1px;
left: 230.5px;
top: 458px;
transform: rotate(90.00deg);
/* Чорний */
border: 1px solid rgb(40, 43, 34);
opacity: 0.2; 
}
.o2{
 /* 01 */
position: absolute;
width: 27px;
height: 24px;
left: 300px;
right: 127px;
top: -808px;
bottom: -624px;
/* Чорний */
opacity: 0.5;
/* Заголовок_H5 */
color: rgb(40, 43, 34);
font-family: Raleway;
font-size: 24px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.qism4{
  /* Дизайн інтерєру */
position: absolute;
width: 196px;
height: 24px;
left: 290px;
right: -42px;
top: -759px;
bottom: -708px;
/* Заголовок_H5 */
color: rgb(61, 74, 57);
font-family: Raleway;
font-size: 24px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.uy2{
  /* Rectangle 3 */
position: absolute;
width: 354px;
height: 320px;
left: 290px;
right: -200px;
top: -696px;
bottom: -1058px;
}
.rp{
  position: absolute;
width: 458px;
height: 1px;
left: 650.5px;
top: 458px;
transform: rotate(90.00deg);
/* Чорний */
border: 1px solid rgb(40, 43, 34);
opacity: 0.2; 
}
.o3{
 /* 01 */
position: absolute;
width: 27px;
height: 24px;
left: 720px;
right: 127px;
top: -808px;
bottom: -624px;
/* Чорний */
opacity: 0.5;
/* Заголовок_H5 */
color: rgb(40, 43, 34);
font-family: Raleway;
font-size: 24px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.qism5{
  /* Дизайн інтерєру */
position: absolute;
width: 196px;
height: 24px;
left: 710px;
right: -42px;
top: -763px;
bottom: -708px;
/* Заголовок_H5 */
color: rgb(61, 74, 57);
font-family: Raleway;
font-size: 24px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
}
.uy3{
  /* Rectangle 3 */
position: absolute;
width: 354px;
height: 320px;
left: 710px;
right: -200px;
top: -696px;
bottom: -1058px;
}

.desc{
  /* Rectangle 13 */
position: absolute;
width: 1600px;
height: 688px;
left: 1030px;
right: 0;
top: 1656px;
bottom: -1656px;
/* Зелений */
background: rgba(61, 74, 57, 0.45);
}
.desc-text{
  /* Ми забезпечемо вас */
position: absolute;
width: 526px;
height: 58px;
left: 537px;
right: 537px;
top: 56px;
bottom: -1126px;
/* заголовок_H2 */
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 46px;
font-weight: 600;
line-height: 125%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.mebel{
/* Меблями */
position: absolute;
width: 108px;
height: 126.98px;
left: 423px;
right: 1159px;
top: 217px;
bottom: 3325.98px;
}
.mebel1{
/* Меблями */
position: absolute;
width: 108px;
height: 226.98px;
left: 753px;
right: 159px;
top: 161px;
bottom: 3325.98px;
}
.mebel2{
/* Меблями */
position: absolute;
width: 208px;
height: 126.98px;
left: 1053px;
right: 1159px;
top: 207px;
bottom: 3325.98px;
}
.mebel3{
/* Меблями */
position: absolute;
width: 208px;
height: 126.98px;
left: 365px;
right: 1159px;
top: 407px;
bottom: 3325.98px;
}
.mebel4{
/* Меблями */
position: absolute;
width: 208px;
height: 126.98px;
left: 705px;
right: 1159px;
top: 407px;
bottom: 3325.98px;
}
.mebel5{
/* Меблями */
position: absolute;
width: 208px;
height: 126.98px;
left: 1050px;
right: 1359px;
top: 407px;
bottom: 3325.98px;
}